:root {
    --primary: #ffd700;
    --black: #333;
    --white: #fff;
    --secondary: #c6b700;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#index-content {
    width: 100vw;
    transition: margin-left 0.3s ease-in-out;
    display: block;
    overflow: none;
}
.top-bar {
    height: auto;
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#top-layer {
    background-color: var(--white);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 10px;
}

.search-bar-content {
    padding: 10px 20px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary);
    border-radius: 25px;
    gap: 5px;
    position: relative;
}

.btn-add {
    padding: 10px 20px;
    background-color: var(--primary);
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    color: var(--black);
    font-weight: 600;
}

#mobile-add-btn {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 2rem;
    box-shadow: 0 0 10px var(--black);
}
.filter-icon {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.filter-icon.active {
    transform: rotate(180deg);
    color: var(--primary);
}

#search-bar {
    width: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
}

.category-menu {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    background-color: var(--white);
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.category-menu.show {
    display: flex;
}

.category-item {
    padding: 8px 15px;
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.9rem;
    color: var(--black);
}

.category-item.active {
    background-color: var(--primary);
    font-weight: 500;
}

.category-item:not(.active):hover {
    background-color: var(--primary);
    opacity: 0.8;
    transform: translateY(-2px);
}

/* CARD */
.card-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 2rem;
    align-items: center;
}

.card {
    height: 350px;
    width: 300px;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.dropdown-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    z-index: 100;
    cursor: pointer;
}

.card-body {
    height: 70%;
    width: 100%;
    position: relative;
    flex-shrink: 0;
}

.card-body img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 20px 20px 0 0;
}

.product-details {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
}

.category-name {
    padding: 2.5px 10px;
    font-size: 0.75rem;
    background-color: #2994ff;
    color: var(--white);
    font-weight: 700;
    border-radius: 25px;
    border: 1px solid black;
}

.card-footer {
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.product-stock {
    font-size: 0.75rem;
}

.product-price {
    padding: 5px 10px;
    color: #ef2d00;
    font-weight: 700;
    font-size: 1.3rem;
}
.dropdown-menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 50px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 101;
    border-radius: 10px;
    min-width: 150px;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.5rem;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .top-bar {
        font-size: 15px;
    }
    .category-menu {
        padding: 10px;
        gap: 8px;
        width: 90vw;
    }

    .category-item {
        padding: 6px 12px;
        font-size: 0.8rem;
    }

    #desktop-add-btn {
        display: none;
    }

    #mobile-add-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
    }

    .card-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
